@font-face {
    font-family: IBMPlexMono;
    src: url(font/IBMPlexMono-Regular.ttf);
}
* {
    padding: 0;
    margin: 0;
}
body {
    background-color: #050505;
    overflow-x: hidden;
    text-align: center;
}
#navbar {
    position: fixed;
    width: 100%;
    background-color: #041404;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
#e60logo {
    width: 12em;
}
#tunkilogo {
    width: 9em;
    margin-right: 3em;
    transition: all .3s ease-in-out;
}
#tunkilogo:hover {
    transform: scale(1.25);
}
#gameplay {
    padding-top: 10em;
    margin-bottom: 1.5em;
}
#text {
    font-family: IBMPlexMono;
    color: rgb(0, 255, 0);
    margin-bottom: 1.5em;
    font-size: 2em;
}
#text > a {
    color: rgb(0, 255, 0);
    text-decoration: none;
}
#e60gameplay {
    width: 80em;
}
#credit {
    font-family: IBMPlexMono;
    color: rgb(0, 150, 0);
    margin-top: 3em;
    margin-bottom: 1.5em;
    font-size: 2em;
}
#name {
    color: rgb(0, 200, 0);
}
@media screen and (max-width: 800px) {
    #e60gameplay {
        width: 25em;
    }
}