@import "../scss/colors.scss";
@import "../scss/fonts.scss";
body {
    background-color: $bodycolor;
    color: $textcolor;
    font-family: $couriernew;
}
header {
    margin-top: 5em;
    text-align: center;
}
a {
    text-decoration: none;
    color: $kraftwerkgreen;
}
#faqlist {
    margin: 5em 4em 5em 4em;
    padding: 3em;
    border: $textcolor 3px solid;
}
#question {
    color: $infocolor;
}
footer {
    color: $textcolor;
    text-align: center;
}
#bold {
    font-weight: bold;
}
#osobniweb {
    color: $textcolor;
    font-weight: bold;
}